@inject CurrentContextData context
@inject NavigationManager navigation

<div class="col-sm">
	<div class=" card text-center m-2" style="width: 25rem;">

		<h3 class="card-header text-start">
			Car Type : @availableVehicle.VechileTypes
		</h3>
		<div class="card-body">
			<div class="card-title d-flex justify-content-between">
				<h3>@availableVehicle.StartTime</h3>
				<h3>@availableVehicle.ReachTime</h3>
			</div>
			@*<div class="d-flex justify-content-between">
				<h6>@availableVehicle.StartTime</h6>
				<h6>@availableVehicle.ReachTime</h6>
			</div>*@
			<div class="card-title d-flex justify-content-between">
				<h5>@searchVechile.LocationFrom</h5>
				<h5>@searchVechile.LocationTo</h5>
			</div>
			<a class="btn btn-primary" @onclick="BookTicket">Reserve</a>
		</div>
	</div>
</div>
